/*Estilização para modal Login*/
*{
    margin: 0;
    padding: 0;
}
body{
    transition: opacity 0.6s ease;
}
#modal{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 60%, 629px);
    height: clamp(450px, 75%, 675px);
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: black;
    border: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
    font-family: Arial, sans-serif;
    padding: 3px;
    scrollbar-width: none;
}
#logoCasaDouradaModalLogin{
width: 300px;
}
#tituloModal{
    color: #F0B35B;
    font-size: 34px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    align-self: flex-start;
    margin-left: 14%;
    margin-bottom: 22px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.campoEntradaDados{
    width: 450px;
    height: 44px;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left:25px;
    text-align: left;
    box-sizing: border-box
}
.botaoNavegacao{
    width:450px;
    height: 44px;
    font-size: 20px;
    background-color: #F0B35B;
    font-weight: bold;
}
.botaoSemForma{
    width: 250px;
    height: 44px;
    font-size: 20px;
    color: #F0B35B;
    background-color: black;
    border: none;
    font-weight: bold;
}
.ContainerBotaoFecharModal{
    align-self: flex-end;
    border: none;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 8%;
}
.botaoFecharModal{
    align-self: center; 
    margin-bottom: 20px;
    background-color: black;
    border: none;
}

/*Estilização para modal cadastro*/

#modalCadastro{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 60%, 629px);
    height: clamp(450px, 80%, 670px);
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: black;
    border: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
    font-family: Arial, sans-serif;
    padding: 3px;
    scrollbar-width: none;
}

/*Estilização para modal cadastro dados pessoais*/

#modalCadastroDadosPessoais{

    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 60%, 629px);
    height: clamp(450px, 90%, 820px);
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: black;
    border: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
    font-family: Arial, sans-serif;
    padding: 3px;
    scrollbar-width: none;
}

/*Estilização para modal cadastro endereço*/

#modalCadastroEndereco{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 60%, 629px);
    height: clamp(450px, 90%, 820px);
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: black;
    border: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
    font-family: Arial, sans-serif;
    padding: 3px;
    scrollbar-width: none;
}


/*Estilização para modal finaliza cadastro*/

#modalFinalizaCadastro{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 95%, 800px);
    height: clamp(450px, 90%, 660px);
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: black;
    border: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
    font-family: Arial, sans-serif;
    padding: 3px;
    scrollbar-width: none;
}
#botoesSwtich{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: baseline;
    gap: 25px;
}
.textoBotaoAceito{
    margin-left: 20px;
    font-size: 20px;
    color: #F0B35B;
    background-color: black;
    border: none;
    font-weight: bold;
}#tituloModalFinalizarCadastro{
    color: #F0B35B;
    font-size: 34px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    align-self: flex-start;
    margin-left: 0%;
    margin-bottom: 5px;
}