/*Estilização para modal Login*/
*{
    margin: 0;
    padding: 0;
}
body{
    transition: opacity 0.6s ease;
}
#modal{
    display: flex;
    flex-direction: column;
    width: clamp(300px, 60%, 629px);
    height: clamp(450px, 75%, 675px);
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: black;
    border: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
    font-family: Arial, sans-serif;
    padding: 3px;
    scrollbar-width: none;
}
#logoCasaDouradaModalLogin{
width: 300px;
}
#tituloModal{
    color: #F0B35B;
    font-size: 34px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    align-self: flex-start;
    margin-left: 14%;
    margin-bottom: 22px;
}
#formularioLogin{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#email{
    width: 450px;
    height: 44px;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left:25px;
    text-align: left;
    box-sizing: border-box
}
#senha{
    width: 450px;
    height: 44px;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left:25px;
    text-align: left;
    box-sizing: border-box
}
#botaoLoginModal{
    width:450px;
    height: 44px;
    font-size: 20px;
    background-color: #F0B35B;
    font-weight: bold;
}
#botaoCadastrarModal{
    width: 150px;
    height: 44px;
    font-size: 20px;
    color: #F0B35B;
    background-color: black;
    border: none;
    font-weight: bold;
}
#botaoFecharModalLogin{
    align-self: flex-end;
    background-color: black;
    border: none;
}
#botaoFecharModal{
align-self: flex-end;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 20px;
}
