*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
    overflow: auto;
    scrollbar-width: none;
}
body{
    background-color: #080B16;
}
body::-webkit-scrollbar {
  display: none;
}
#cabecalho{
    background-color: #000000;
    opacity: 0.70;
    height: 90px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
#imgLogoCasaDouradaHeader{
    height: 88px;
    margin-top: 0px;
    margin-left: 20px;
}
nav{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: clamp(12px,5vw,80px);
}
#menu{
    color: white;
    font-family:   Arial, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: clamp(12px,5vw,80px);
    margin-right: clamp(12px,5vw,80px);
}
#botaoLogin{
    width: 211px;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: #F0B35B;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 70px;
    margin-left: auto;
}

#telaPrincipal{
    background-image: url("/img/imgTelaPrincipal.png");
    margin: 0;
    padding: 0;
    background-size: cover;       
    background-position: top center;  
    background-repeat: no-repeat; 
    height: 100vh;                
    width: 100vw; 
    align-items: center; 
}
#logoTelaPrincipal{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 460px;
    padding-top: 210px;
}
#TextoTelaPrincipal{
    color: white;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    font-size: clamp(0.5rem, 3vw, 40px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:'Franklin Gothic Medium',  Arial, sans-serif;
    font-weight: bold;
    width: 60%;
}
#sobreRestaurante{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: auto;
}#informacoeSobreRestaurante{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#tituloSobreRestaurante{
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: clamp(0.75rem, 2vw, 40px);
    font-weight: bold;
    text-align: left;
}
#textoSobreRestaurante{
    color: white;
    font-family: Arial, sans-serif;
    font-size: clamp(0.69rem, 1vw, 25px);
    text-align: justify;
    margin-top:13%;
    margin-right:10%;
    width: 85%;
    line-height: 1.6;
    padding: 10PX;
}
#imagensPratos{
    width: clamp(12px,50vw,650px);
    margin-top:auto;
    margin-bottom: auto;
    margin-left:10%;
    margin-right: 10%;
}
#pratos{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
#sobremesa{
    height: 100vh;
    width: 100vw;
    background-color: lightgreen;
}
#bebida{
    height: 100vh;
    width: 100vw;
    background-color: magenta;
}
#rodape{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
