* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
    scrollbar-width: none;
}
body {
    background-color: #080B16;
}
body::-webkit-scrollbar {
    display: none;
}
#cabecalho {
    background-color: #000000;
    opacity: 0.91;
    height: 90px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
#imgLogoCasaDouradaHeader {
    height: 88px;
    margin-top: 0px;
    margin-left: 20px;
}
nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: clamp(12px, 5vw, 80px);
}
#menu {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: clamp(12px, 5vw, 80px);
    margin-right: clamp(12px, 5vw, 80px);
}
#botaoLogin {
    width: 211px;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: #F0B35B;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 70px;
    margin-left: auto;
}
#telaPrincipal {
    background-image: url("/img/imgTelaPrincipal.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-bottom: #F0B35B 2px solid;
    box-shadow: #F0B35B 0px 0px 20px;
}
#logoTelaPrincipal {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 460px;
    padding-top: 9%;
}
#TextoTelaPrincipal {
    color: white;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    font-size: clamp(0.5rem, 3vw, 40px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-weight: bold;
    width: 60%;
}
#sobreRestaurante {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: auto;
    overflow: hidden;
    justify-content: center;
    border-top: #F0B35B 1.5px solid;
    border-bottom: #F0B35B 1.5px solid;
    box-shadow: 0px 0px 20px #F0B35B;
}
#informacoeSobreRestaurante {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#tituloSobreRestaurante {
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: clamp(0.75rem, 2vw, 40px);
    font-weight: bold;
    text-align: left;
}
#textoSobreRestaurante {
    color: white;
    font-family: Arial, sans-serif;
    font-size: clamp(0.69rem, 1vw, 25px);
    text-align: justify;
    margin-top: 13%;
    margin-right: 10%;
    width: 85%;
    line-height: 1.6;
    padding: 10PX;
}
#imagensPratos {
    width: clamp(12px, 35vw, 620px);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}
#pratos {
    font-family: Arial, sans-serif;
    color: white;
    font-size: clamp(0.69rem, 1vw, 25px);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: #F0B35B 1.5px solid;
    border-bottom: #F0B35B 1.5px solid;
    box-shadow: 0px 0px 20px #F0B35B;
}
#informacoesSobrePratos {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
#tituloPratos {
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: clamp(0.75rem, 2vw, 40px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
}
#textoSobrePratos {
    text-justify: center;
    color: white;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/*header logado*/
#containerLogado {
    visibility: hidden;
    width: 350px;
    height: 44px;
    padding: 10px;
    border: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #F0B35B;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    margin-left: auto;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15%;
}
#botaoConfigPerfilCabecalho {
    background-color: black;
    border: none;
}

#imgConfigPerfil {
    width: 60px;
    height: 15px;
    background-color: black;
}
/*tela Bebidas*/
#bebidas {
    font-family: Arial, sans-serif;
    color: white;
    font-size: clamp(0.69rem, 1vw, 25px);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: 1.5px solid #F0B35B;
    border-bottom: none;
    box-shadow: 0 -6px 10px -4px #F0B35B;
}
#conteinerBebidas {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
/*tela sobremesas - seção sobremesa by luisa fernanda*/
#sobremesa {
    font-family: Arial, sans-serif;
    color: white;
    font-size: clamp(0.69rem, 1vw, 25px);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: #F0B35B 1.5px solid;
    border-bottom: #F0B35B 1.5px solid;
    box-shadow: 0px 0px 20px #F0B35B;
}
#informacoesSobreSobremesa {
    display: flex;
    text-justify: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: clamp(0.69rem, 1vw, 25px);
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#textoSobreSobremesa {
    margin-top: 15%;
}
/*estilo carrossel*/
.meu-carrossel {
    width: 800px;
    height: 400px;
    margin: 40px auto;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: #F0B35B 1.5px solid;
    box-shadow: #F0B35B 0px 0px 40px;
}
.meu-carrossel .carousel-inner,
.meu-carrossel .carousel-item {
    width: 100%;
    height: 100%;
}
.meu-carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}